<?xml version="1.0"?>
<config>
    <modules>
        <Mycircle_Community>
            <version>0.1.0</version>
            <depends>
                <Mage_Customer />
            </depends>
        </Mycircle_Community>
    </modules>
    <frontend>
        <!--<routers>-->
            <!--<community>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>Mycircle_Community</module>-->
                    <!--<frontName>community</frontName>-->
                <!--</args>-->
            <!--</community>-->
        <!--</routers>-->
        <layout>
            <updates>
                <community>
                    <file>community.xml</file>
                </community>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <community>
                <class>Mycircle_Community_Helper</class>
            </community>
        </helpers>
        <blocks>
            <community>
                <class>Mycircle_Community_Block</class>
            </community>
        </blocks>
        <models>
            <customer>
                <rewrite>
                    <customer_api_v2>Mycircle_Community_Model_Customer_Api_V2</customer_api_v2>
                </rewrite>
            </customer>
            <community>
                <class>Mycircle_Community_Model</class>
                <resourceModel>community_mysql4</resourceModel>
            </community>
            <community_mysql4>
                <class>Mycircle_Community_Model_Mysql4</class>
                <entities>
                    <circle>
                        <table>community_circle</table>
                    </circle>
                </entities>
            </community_mysql4>
        </models>
        <resources>
            <community_setup>
                <setup>
                    <module>Mycircle_Community</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </community_setup>
            <community_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </community_write>
            <community_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </community_read>
        </resources>
    </global>
    <admin>
        <routers>
            <community>
                <use>admin</use>
                <args>
                    <module>Mycircle_Community</module>
                    <frontName>admin_community</frontName>
                </args>
            </community>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <community module="community">
                <title>Community</title>
                <sort_order>100</sort_order>
                <children>
                    <communitybackend module="community">
                        <title>Circles</title>
                        <sort_order>0</sort_order>
                        <action>admin_community/adminhtml_communitybackend</action>
                    </communitybackend>
                    <circle module="community">
                        <title>Manage Circle</title>
                        <sort_order>0</sort_order>
                        <action>admin_community/adminhtml_circle</action>
                    </circle>
                </children>
            </community>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <community translate="title" module="community">
                            <title>Community</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <communitybackend translate="title">
                                    <title>Circles</title>
                                </communitybackend>
                                <circle translate="title">
                                    <title>Manage Circle</title>
                                    <sort_order>0</sort_order>
                                </circle>
                            </children>
                        </community>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <community>
                    <file>community.xml</file>
                </community>
            </updates>
        </layout>
    </adminhtml>
</config> 