<?xml version="1.0"?>
<config>
    <modules>
        <Mycircle_Events>
            <version>0.0.1</version>
            <depends>
                <Mage_Catalog />
            </depends>
        </Mycircle_Events>
    </modules>
    <frontend>
        <routers>
            <events>
                <use>standard</use>
                <args>
                    <module>Mycircle_Events</module>
                    <frontName>events</frontName>
                </args>
            </events>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <Mycircle_Events before="Mage_Checkout">Mycircle_Events_Checkout</Mycircle_Events>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <events>
                    <file>events.xml</file>
                </events>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mycircle_Events>
                    <files>
                        <default>Mycircle_Events.csv</default>
                    </files>
                </Mycircle_Events>
            </modules>
        </translate>
    </frontend>
    <global>
        <events>
            <customer_save_after>
                <observers>
                    <mycircle_events_customer_save_observer>
                        <type>model</type>
                        <class>Mycircle_Events_Model_Customer_Observer</class>
                        <method>updateProfile</method>
                    </mycircle_events_customer_save_observer>
                </observers>
            </customer_save_after>
            <sales_order_place_after>
                <observers>
                    <mycircle_events_order_observer>
                        <type>singleton</type>
                        <class>events/order_observer</class>
                        <method>addtocircle</method>
                    </mycircle_events_order_observer>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <events_empty_quote>
                        <type>singleton</type>
                        <class>Mycircle_Events_Model_Checkout_Cart_Observer</class>
                        <method>emptyCart</method>
                    </events_empty_quote>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_quote_merge_before>
                <observers>
                    <events_empty_quote>
                        <type>singleton</type>
                        <class>Mycircle_Events_Model_Checkout_Cart_Observer</class>
                        <method>emptyCart</method>
                    </events_empty_quote>
                </observers>
            </sales_quote_merge_before>
            <!--<checkout_cart_product_add_after>-->
                <!--<observers>-->
                    <!--<events_add_date_quote>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Mycircle_Events_Model_Checkout_Cart_Observer</class>-->
                        <!--<method>applySelectedDate</method>-->
                    <!--</events_add_date_quote>-->
                <!--</observers>-->
            <!--</checkout_cart_product_add_after>-->
            <checkout_onepage_controller_success_action>
                <observers>
                    <send_order_invitation_emails>
                        <type>singleton</type>
                        <class>Mycircle_Events_Model_Order_Observer</class>
                        <method>sendInvitationEmails</method>
                    </send_order_invitation_emails>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <helpers>
            <events>
                <class>Mycircle_Events_Helper</class>
            </events>
        </helpers>
        <blocks>
            <events>
                <class>Mycircle_Events_Block</class>
            </events>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <layer>Mycircle_Events_Model_Catalog_Layer</layer>
                    <product_api>Mycircle_Events_Model_Catalog_Product_Api</product_api>
                    <product_api_v2>Mycircle_Events_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
            <events>
                <class>Mycircle_Events_Model</class>
                <resourceModel>events_mysql4</resourceModel>
            </events>
            <events_mysql4>
                <class>Mycircle_Events_Model_Mysql4</class>
                <entities>
                    <customerprofile>
                        <table>customer_profile</table>
                    </customerprofile>
                    <circles>
                        <table>customer_circles</table>
                    </circles>
                    <groups>
                        <table>customer_circles_group</table>
                    </groups>
                </entities>
            </events_mysql4>
        </models>
        <resources>
            <events_setup>
                <setup>
                    <module>Mycircle_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </events_setup>
            <events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </events_write>
            <events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </events_read>
        </resources>
        <template>
            <email>
                <invite_email_template module="events">
                    <label>Invito Amico</label>
                    <file>mycircle/invite_email_template.html</file>
                    <type>html</type>
                </invite_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <events>
                <use>admin</use>
                <args>
                    <module>Mycircle_Events</module>
                    <frontName>admin_events</frontName>
                </args>
            </events>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mycircle>
                    <file>mycircle.xml</file>
                </mycircle>
            </updates>
        </layout>

       <events>
           <!--
           <catalog_product_edit_action>
               <observers>
                   <lock_attributes>
                       <class>Mycircle_Events_Model_Admin_Catalog_Observer</class>
                       <method>lockProductAttributes</method>
                   </lock_attributes>
               </observers>
           </catalog_product_edit_action>
         -->


         <catalog_product_prepare_save>
             <observers>
                 <save_product_availability>
                     <type>singleton</type>
                     <class>Mycircle_Events_Model_Admin_Catalog_Observer</class>
                     <method>saveAvailabilty</method>
                 </save_product_availability>
             </observers>
         </catalog_product_prepare_save>

        </events>
        <menu>
            <events module="events">
                <title>Events</title>
                <sort_order>100</sort_order>
                <children>
                    <eventsbackend module="events">
                        <title>Cerchi</title>
                        <sort_order>0</sort_order>
                        <action>admin_events/adminhtml_eventsbackend</action>
                    </eventsbackend>
                    <circles module="events">
                        <title>Manage Circles</title>
                        <sort_order>0</sort_order>
                        <action>admin_events/adminhtml_circles</action>
                    </circles>
                </children>
            </events>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <events translate="title" module="events">
                            <title>Events</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <eventsbackend translate="title">
                                    <title>Cerchi</title>
                                </eventsbackend>
                                <circles translate="title">
                                    <title>Manage Circles</title>
                                    <sort_order>0</sort_order>
                                </circles>
                            </children>
                        </events>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <events>
                    <file>events.xml</file>
                </events>
            </updates>
        </layout>
    </adminhtml>
</config> 