


.circle-text {
    width: 460px;
    height: 460px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 15px solid #a8a8a8;
    overflow: hidden;

}

.circle-text:after {
    content: "";
    display: block;

}
.circle-text .image-inner {
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.circle_background {
    /*background: url(http://localhost/mycircle2/media/wysiwyg/banners/parco1.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*-moz-background-size: 100%;*/
    /*-webkit-background-size: 100%;*/
    /*-o-background-size: 100%;*/
    /*background-size: 100%;*/
    /*height: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    /*border-radius: 50%;*/
}

.white-section.no-padding {
    padding: 0;
}


.circle-text-top {
    margin-right: -15%;
}
.circle-text-bottom {
    margin-left: -15%;
}


.circle__inner {
    /*position: relative;*/
    /*top: 230px;*/
    /*bottom: 0;*/
    /*left: 35px;*/
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    padding: 2% 0 0;
    /*vertical-align: middle;*/
    /*position: absolute;*/
    /*top: 23%;*/
    /*left: 20%;*/

}

.circle__content .circle-separator {
    padding: 0;
    margin: 3px;
}

.circle__content .title-row {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.circle__content .date-row {
    text-align: center;
    margin-top: 5px;
}

.countdown-row .countdown-item {
    background-color: #ce6c87;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    margin: 7px;

}

.countdown-row {

    text-align: center;
}

.countdown-row .countdown-container {
    display: inline-block;
}

.countdown-label {
    font-size: 0.7em;
    line-height: 5px;
}

.circle__content .price-box {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.circle__content .price-box .separator-price {
    color: #a8a8a8;
    font-weight: lighter;
}


.circle__content .price-box .old-price {
    color: #a8a8a8;
}

.circle__content .price-box .new-price {
    color: #ee265b;
}
.circle__content .join-item img {
    width: 42px;
    margin: 1% auto;
}

.latest-action {
    padding: 4% 0 0 0;
    text-align: center;
}

.typo-section-sq .structures-head {

    padding-right: 4%;

}

.circle-promo-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.circle-promo:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 96%;
    border: 8px solid #ed255b;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(http://localhost/mycircle2/media/wysiwyg/banners/parco1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    /*background: url("http://localhost/mycircle2/media/wysiwyg/banners/parco1.jpg") no-repeat -30px -50px no-scroll;*/
}
.circle-promo .image-inner {
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.white-section.no-padding {
    /*padding: 0;*/
}


.circle-promo-top {
    margin-right: -15%;
}
.circle-promo-bottom {
    margin-left: -15%;
}


.circle_promo_inner {
    position: relative;
    top: 165px;
    bottom: 0;
    left: 26px;
    width: 100%;
    height: 100%;
}

.circle_promo_wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle_promo_content {
    padding: 1em 0 0.2em;
    vertical-align: middle;
    position: absolute;
    top: 23%;
    left: 20%;

}

.circle_promo_content .circle-separator {
    padding: 0;
    margin: 11px 0 4px 0px;
}

.circle_promo_content .title-row {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.circle_promo_content .date-row {
    text-align: center;
    margin-top: 5px;
}

.circle_promo_content .price-box {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}


.circle_promo_content .price-box .separator-price {
    color: #a8a8a8;
    font-weight: lighter;
}


.circle_promo_content .price-box .old-price {
    font-size: 25px;
    color: #a8a8a8;
    text-decoration: line-through;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

.circle_promo_content .price-box .new-price {
    color: #ee265b;
}

.circle_promo_content .join-box {
    margin: auto;
}

.circle_promo_content .join-item img {
    width: 25%;
    margin: 3% 0 0 40%;
}

.latest-action {
    padding: 4% 0 0 0;
    text-align: center;
    width: 100%;
    padding: 4% 0 4% 0;
}

.typo-section-header-sq.structures-head {

    padding-left: 4%;
    width: 100%;

}

.typo-section-header-sq.structures-head h2{

    text-transform: uppercase;

}

@media only screen and (max-width: 767px) {

    .carousel-sq.spread-sq .slick-next {
        display: none;
    }

    .slick-next:before {
        content: "";
    }

    .slick-prev:before {
        content: "\e96f";
    }

    .circle__content {
        padding: 0;
    }

    .carousel-sq.spread-sq .slick-prev {
        display: none;
    }

    .circle-text {
        width: 100%;
        height: 100%;
        margin-bottom: 34px;
        border: 10px solid #a8a8a8;
    }

    .circle-text-top {
        margin-right: 0;
    }

    .circle-promo-top {
        margin-right: 0;
    }

    .circle-promo-bottom {
        margin-left: 0;
    }

    .circle__content .title-row {
        font-size: 18px;
    }

    .circle-text-bottom {
        margin-left: 0;
    }
    .button-sq.small-sq {
        font-size: 11px;
        padding: 0.8em 0.4em;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin: 11px 15px 0 15px;
    }

    .carousel-sq.center-sq .slick-list .slick-track .slick-slide {
        margin: 0 12px;
    }

    .circle__inner {
        /*position: relative;*/
        /*top: 150px;*/
        /*bottom: 0;*/
        /*left: 16px;*/
        /*width: 100%;*/
        /*height: 100%;*/
        font-size: 0.7em;
    }
    .circle__content .date-row {
        margin-top: 0px;
        line-height: 8px;
        font-size: 11px;
    }

    .countdown-label {
        line-height: 0px;
    }

    .circle__content .circle-separator {
        padding: 0;
        margin: 0px;
    }

    .countdown-row {

    }

    .countdown-row .countdown-item {
        padding: 0px 1px 2px 2px;
    }

    .circle__content .price-box {
        font-size: 18px;
    }
    .circle__content .join-item img {
        width: 14%;
    }


}

/* Large Monitor */
@media only screen and (min-width: 768px) and (max-width: 977px) {

    .circle-text {
        width: 355px;
        height: 355px;
        border: 15px solid #a8a8a8;

    }


    .button-sq.small-sq {
        font-size: 11px;
        padding: 0.8em 0.4em;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin: 11px 15px 0 15px;
    }

    .circle__content {
       padding: 0;
    }

    .circle__inner {
        /*position: relative;*/
        /*top: 164px;*/
        /*bottom: 0;*/
        /*left: 14px;*/
        /*width: 100%;*/
        /*height: 100%;*/
        font-size: 0.7em;
    }

    .circle__content .title-row {
        font-size: 20px;
    }

    .circle__content .date-row {
        margin-top: 0px;
        line-height: 12px;
    }

    .countdown-row {
        margin-top: 5px;
    }

    .countdown-row .countdown-item {
        padding: 3px;
        margin: 2px;
    }

    .circle__content .price-box {
        font-size: 18px;
    }
    .circle__content .join-item img {
        width: 36px;
    }



}

/*!* Large Monitor *!*/
/*@media only screen and (min-width: 977px) and (max-width: 1199px) {*/

    /*.circle-text {*/
        /*width: 325px;*/
        /*height: 325px;*/
    /*}*/

    /*!*.circle-text:after {*!*/
        /*!*padding-bottom: 325px;*!*/
        /*!*padding-left: 325px;*!*/
    /*!*}*!*/


    /*.circle_promo_content .title-row {*/
        /*font-size: 20px;*/
        /*font-weight: bold;*/
        /*text-align: center;*/
    /*}*/

    /*.circle_promo_content .price-box .old-price {*/

    /*}*/

    /*.circle_promo_content .price-box {*/
        /*text-align: center;*/
        /*font-size: 28px;*/
        /*font-weight: bold;*/
    /*}*/

    /*.circle_promo_inner {*/
        /*top: 125px;*/
        /*left: 29px;*/
    /*}*/
    /*.circle_promo_content .circle-separator {*/
        /*margin: 4px 0 4px 0px;*/
    /*}*/

    /*.circle_promo_content .join-item img {*/
        /*width: 25%;*/
        /*margin: 0% 0 0 31%;*/
    /*}*/

    /*.circle__inner {*/
        /*!*position: relative;*!*/
        /*!*top: 164px;*!*/
        /*!*bottom: 0;*!*/
        /*!*left: 14px;*!*/
        /*!*width: 100%;*!*/
        /*!*height: 100%;*!*/
        /*font-size: 0.8em;*/
    /*}*/
    /*.circle__content .date-row {*/
        /*margin-top: 0px;*/
        /*line-height: 12px;*/
    /*}*/

    /*.countdown-row {*/
        /*margin-left: 12%;*/
        /*margin-top: 5px;*/
    /*}*/

    /*.countdown-row .countdown-item {*/

        /*margin: 3px;*/
    /*}*/

    /*.circle__content .price-box {*/
        /*font-size: 18px;*/
    /*}*/
    /*.circle__content .join-item img {*/
        /*width: 14%;*/
    /*}*/




/*}*/

/* Large Monitor */
@media only screen and (min-width: 1199px) and (max-width: 1650px) {

    .circle_promo_content .title-row {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .circle_promo_content .price-box .old-price {

    }

    .circle_promo_content .price-box {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

}



/* Wide Monitor */
@media only screen and (min-width: 1920px) {

    .circle_promo_content .title-row {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    .circle_promo_content .price-box .old-price {

    }

    .circle_promo_content .price-box {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }

    .circle_promo_inner {
        top: 125px;
        left: 29px;
    }
    .circle_promo_content .circle-separator {
        margin: 4px 0 4px 0px;
    }

    .circle_promo_content .join-item img {
        width: 25%;
        margin: 0% 0 0 31%;
    }

}